{% load staticfiles %}
<footer>
    <div class="container">
        <hr/>
        <ul class="list-inline">
            <li><b>&copy; MengHX</b></li>
            <li class="pull-right">Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a
                    href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
        </ul>
    </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static "js/mxsite.js" %}"></script>
</body>
</html>
