{% load staticfiles %}
<footer>
    <div class="container">
        <hr/>
        <ul class="list-inline">
            <li><b>&copy; MengHX</b></li>
            <li class="pull-right">Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a
                    href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
        </ul>
    </div>
</footer>
<script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
