{% extends 'frame/layout.html' %}
{% load staticfiles %}
{% block title %} MengHX Blog About Me {% endblock %}
{% block content %}
    <div class="container">
        <div class="row padding-large">
            <div class="col-lg-offset-0">
                <h1>STAY HUNGRY，STAY FOOLISH!</h1>
                <hr/>
                <p>

                <div id="wb_follow_btn"></div>
                </p>
                <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1189561973" type="text/javascript"
                        charset="utf-8"></script>
                <script>
                    WB2.anyWhere(function (W) {
                        W.widget.followButton({
                            'nick_name': '_Diaoer',
                            'id': "wb_follow_btn",
                            'show_head': true,
                            'show_name': true,
                            'show_cancel': true
                        });
                    });
                </script>
                <p>Programmer@Shanghai.China</p>

                <p>Swift / Objective-C / Go / JAVA / Python ...</p>

                <p>OS X /
                    <del>Windows</del>
                    / Fedora / Ubuntu /
                    <del>Gentoo</del>
                    / Sabayon ...
                </p>
                <p>He is Crazy!</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}