{% extends 'frame/layout.html' %}
{% load staticfiles %}
{% block title %} MengHX Blog About Me {% endblock %}
{% block content %}
    <div class="container">
        <div class="row padding-large">
            <div class="col-lg-4" style="margin-top: 20px;">
                <div class="g-person" data-width="300" data-href="//plus.google.com/u/0/107300960145284213820"
                     data-rel="author"></div>
                <script type="text/javascript">
                    (function () {
                        var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                    })();
                </script>
            </div>
            <div class="col-lg-offset-4">
                <h1>JUST NOTHING</h1>
                <hr/>
                <p>

                <div id="wb_follow_btn"></div>
                </p>
                <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1189561973" type="text/javascript"
                        charset="utf-8"></script>
                <script>
                    WB2.anyWhere(function (W) {
                        W.widget.followButton({
                            'nick_name': '_Diaoer',
                            'id': "wb_follow_btn",
                            'show_head': true,
                            'show_name': true,
                            'show_cancel': true
                        });
                    });
                </script>
                <p>程序员，混上海</p>

                <p>Swift / Objective-C / Go / JAVA / Python ...</p>

                <p>OS X /
                    <del>Windows</del>
                    / Fedora / Ubuntu /
                    <del>Gentoo</del>
                    / Sabayon ...
                </p>

                <p>Stay hungry，Stay foolish!</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}