{% extends 'frame/layout.html' %}
{% block title %} MengHX Blog List {% endblock %}
{% block content %}
    <ul class="list-unstyled">
        {% for cblog in bloglist %}
                <li>
                    <div class="container well-sm">
                        <a href='{% url blog cblog.id %}' class="h5">{{ cblog.title }}</a>
                        <span class="pull-right">{{ cblog.create_time }}</span>
                    </div>
                </li>
        {% endfor %}
    </ul>
    <ul class="pagination hidden">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
{% endblock %}