{% extends 'frame/layout.html' %}
{% load staticfiles %}
{% block custom_head %}
    {% include "start_header_extra.html" %}
{% endblock %}
{% block title %} MengHX Start Page {% endblock %}
{% block content %}
    <div id="search_content">
        <form class="search_form" id="queryForm" action="http://www.google.com/search" target="_blank">
            <input accesskey="s" id="kw" type="text" name="q" placeholder="输入关键词" onkeydown="submitForm(e)"/>
            <input class="search_btn" type="button" onclick="subForm(1)" value="Google"/>
            <input class="search_btn" type="button" onclick="subForm(2)" value="Baidu"/>
            <input class="search_btn" type="button" onclick="subForm(3)" value="Bing"/>
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="link_table">
    {% for linkGroup in linkGroups %}
        <div class="link_table_row">
            <div class="link_table_row_header">
                <p>{{ linkGroup.title }}</p>
            </div>
            <ul>
                {% for link in linkGroup.links_set.all %}
                      <li><a target="_blank" title="Owner:{{ link.owner }},About:{{ link.description }}" {% if link.highlight %} class="init" {% endif %} href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
    {% endfor %}
    </div>
    <script charset="gbk" src="http://www.baidu.com/js/opensug.js"></script>
{% endblock %}